@media (min-width: 960px) {
  .bd-page-width {
    max-width: 100rem !important;
  }
}

.bd-sidebar-primary {
  overflow: auto !important;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
}

.bd-sidebar-primary::-webkit-scrollbar {
  /* WebKit */
  width: 0 !important;
  height: 0 !important;
}

.form-control {
  border: 2px solid #ccc !important; /* color del borde */
  transition: border-color 0.3s !important; /* transición del color del borde */
}

.MathJax {
  margin: 0 auto !important;
}

.form-control:focus {
  outline: none;
}



.theorem {
  border-left: 0.2rem solid #007bff;
  background-color: rgb(238, 243, 254);
  border-radius: 0.2rem;
  overflow: hidden;
}

.theorem p:first-child {
  display: none;
}
.theorem p:nth-child(2) {
  background-color: rgb(222, 233, 255);
  padding-left: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.theorem p {
  padding-left: 1rem;
}

.definition {
  border-left: 0.2rem solid #007bff;
  background-color: rgb(238, 243, 254);
  border-radius: 0.2rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.definition p:first-child {
  display: none;
}
.definition p:nth-child(2) {
  background-color: rgb(222, 233, 255);
  padding-left: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.definition p {
  padding-left: 1rem;
}

html[data-theme="dark"] .definition {
  border-left-color: #4da6ff; /* Ajusta el color del borde izquierdo */
  background-color: #1c1c1e; /* Ajusta el color de fondo */
}

html[data-theme="dark"] .definition p:nth-child(2) {
  background-color: #2c2c2e; /* Ajusta el color de fondo del segundo párrafo */
}
